<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static\css\bootstrap.css">
    <link rel="stylesheet" href="static\css\style.css">


    <title>Exact Science</title>
</head>

<body>
    <div class="main-wrap">
        <div class="wraper">
            <section class="intro">
                <div class="intro-box">
                    <h1 class="page-title">Auto Form Filling OCR System</h1>
                    <form class="intro-form">
                        <div>
                            <button id="UploadDocument" class="btn btn-dark" type="submit" title="Upload Document" value="Upload Document">Upload Document</button>
                            <span class="or">or</span>
                            <button id="ScanDocument" class="btn btn-dark" type="submit" title="Scan Document" value="Scan Document">Scan Document</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <!--JavaScript -->
    <script src="assets\js\jquery-3.5.1.slim.min.js" type="text/javascript"></script>
    <script src="assets\js\popper.min.js" type="text/javascript"></script>
    <script src="assets\js\bootstrap.js" type="text/javascript"></script>
    <script src="assets\js\app.js" type="text/javascript"></script>
</body>

</html>