<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static\css\bootstrap.css">
    <link rel="stylesheet" href="static\css\style.css">


    <title>Exact Science</title>
</head>

<body>    
    <div class="main-wrap">
        <div class="wraper">
            <section class="intro">
                <div class="header">
                    <img class="logo" src="static/images/logo.png">
                    <a class="" href="{{url_for('datalist')}}">Patient Database</a>
                </div>
                <div class="intro-box">
                    <h1 class="page-title">Auto Form Filling OCR System</h1>
                    <form class="intro-form" action="/upload" method="POST" enctype="multipart/form-data">
                        <div>
                            <input id="UploadDocument" type="file" onchange="form.submit()" value="Upload Document" class="UploadDocument" name="UploadDocument">
                            <label for="UploadDocument" class="btn btn-dark" style="width: 200px;">Upload Document</label>
                            <span class="or">or</span>
                            <input id="ScanDocument" type="file" value="ScanDocument" class="ScanDocument" onchange="form.submit()">
                            <label for="ScanDocument" class="btn btn-dark" style="width: 200px;">Scan Document</label>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
    {% if success %}
    <h2>Data Insterted Successfully</h2>
    {% endif %}
    <!--JavaScript -->
    <script src="static\js\jquery-3.5.1.slim.min.js" type="text/javascript"></script>
    <script src="static\js\popper.min.js" type="text/javascript"></script>
    <script src="static\js\bootstrap.js" type="text/javascript"></script>
    <script src="static\js\app.js" type="text/javascript"></script>
</body>


</html>