<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/spin.css">
    <script type="text/javascript" src="static/js/spin.js"></script>

    <title>Exact Science</title>
</head>

<body>
    <!-- MAIN DIVISION -->
    <div class="main-wrap">
        <div class="wraper">

            <!-- HEADER -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <a href="{{url_for('home')}}"><img class="logo" src="static/images/logo.png"></a>
                    </div>

                    <div class="col btnright">
                        <a class="btn btn-dark" href="{{url_for('datalist')}}">Patient Database</a>
                    </div>
                </div>
            </div>

            <!-- UPLOAD BUTTON SECTION -->
            <section class="intro">
                <div class="intro-box">
                    <h1 class="page-title">Auto Form Filling OCR System</h1>
                    <form class="intro-form" action="/upload" method="POST" enctype="multipart/form-data">
                        <div>
                            <input id="UploadDocument" type="file" onchange="form.submit()" value="Upload Document" class="UploadDocument" name="UploadDocument" accept="application/pdf">
                            <label for="UploadDocument" class="btn btn-dark" style="width: 200px;" title="Upload PDF">Upload Document</label>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
    <!-- JAVASCRIPT -->
    <script src="../static/js/jquery-3.5.1.slim.min.js" type="text/javascript"></script>
    <script src="../static/js/popper.min.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.js" type="text/javascript"></script>
    <script src="../static/js/app.js" type="text/javascript"></script>
</body>
</html>
