<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="lib/blowup.js"></script>
    <script src="./static/js/imagemagnifier.js"></script>


    <title>Exact Science</title>
</head>
<body>
    <div class="main-wrap">
        <!-- Wrap -->
        <div class="wraper">
            <div class="container-fluid">
                <div class="row">

                    <!-- Left Side -->
                    <div class="Left-panel col-12 col-md-4 col-sm-12" id="left" style="margin-top: 15px">
                        <img src = "static/temp_storage/{{filename}}1.jpg" style="height: 530px; width: 415px; position: fixed; border: 1px solid black" id="img1" class="img1">
                    </div>
                    <script>
                    // Initiate zoom effect:
                        imageZoom("img1", "right");
                    </script>
                    <!-- Right Side -->
<!--                    <div class="right-pannel col-12 col-md-8 col-sm-12"> -->
                        <!-- new divison ......................-->
                        <div class="right-panel-box col-12 col-md-8 col-sm-12" id="right" style="height: 500px; overflow: scroll;overflow-x: hidden;border: 1px solid black; padding-left: 15px; margin-left: 440px;">
                            <img src="static/images/logo.png" style="height: 67px; width: 150px; position: absolute;">
                            <img src="static/images/colo.jpeg" style="height: 67px; width: 150px; position: absolute; right: 15px; top: 5px;">
                            <center>
                                <h3>COLOGUARD ORDER<br>REQUISITION FORM</h3>
                            </center>


                            <form class="part1" id="part1" action="/part1" method="post">
                                <h3>
                                    Provider & Order Information
                                </h3>
                                <div class="form-field-wrap">
                                    <h4 class="box-title">Provider Information</h4>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Healthcare Organization Name :</label>
                                    <input class="input-group-append form-control" type="text" name="hconame" value="{{dict1['form1']['hconame']}}" />
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Provider Name :</label>
                                    <input class="input-group-append form-control" type="text" name="provider" value="{{dict1['form1']['provider']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">NPI # :</label>
                                    <input class="input-group-append form-control" type="text" name="npi" value="{{dict1['form1']['pr_npi']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Location Address Name :</label>
                                    <input class="input-group-append form-control" type="text" name="address" value="{{dict1['form1']['pr_address']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">City, State, Zip :</label>
                                    <input class="input-group-append form-control" type="text" name="city" value="{{dict1['form1']['pr_city']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Phone Number :</label>
                                    <input class="input-group-append form-control" type="text" name="phone" value="{{dict1['form1']['pr_phone']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Secure Fax Number :</label>
                                    <input class="input-group-append form-control" type="text" name="fax" value="{{dict1['form1']['pr_fax']}}"/>
                                </div>

                                <div class="form-field-wrap mt-4">
                                    <h4 class="box-title">Order Information</h4>
                                </div>
                                <div class="form-field-wrap">
                                    <p>This section is not intended to influence the medical judgment of an ordering provider in determining whether this test is right for any particular patient. The following codes are listed as a convenience. Ordering
                                        practitioners should report the diagnosis code(s) that best describes the reason for performing the test.
                                    </p>
                                </div>
                                <div class="form-field-wrap">
                                    <h6 class="mb-1 d-block">ICD-10 Code:</h6>
                                    <div class="input-group mb-0">
                                        <input class="mr-2" type="radio" id="select1-icd" name="icd-10" value="" checked>
                                        <label class="mb-2" for="select1-icd">Z12.11 and Z12.12 (Encounter for screening for malignant neoplasm of colon [Z12.11] and rectum [Z12.12])</label>
                                    </div>
                                    <div class="input-group mb-0">
                                        <input class="mr-2" type="radio" id="select2-icd" name="icd-10" value="">
                                        <label class="mb-2" for="select2-icd">Other(s)</label>
                                        <input class="input-group-append form-control" type="text" name="icdother" value="{{dict1['form1']['icdother']}}" />
                                    </div>

                                </div>
                                <div class="form-field-wrap mt-3">
                                    <h6 class="mb-1">Certification</h6>
                                    <p>I am a licensed healthcare provider authorized to order Cologuard. This test is medically necessary and the patient is eligible to use Cologuard. I will maintain the privacy of test results and related information as
                                        required by HIPAA. I authorize Exact Sciences Laboratories to obtain reimbursement for Cologuard and to directly contact and collect additional samples from the patient as appropriate.
                                    </p>
                                </div>
                                <div class="form-field-wrap mt-3 text-md-left text-left">
                                    <p class="date1 mt-2">
                                        Date of Order:<br>
                                        <input class="input-group-append form-control" name="orderdate" value="{{dict1['form1']['orderdate']}}" type="date" />
                                    </p>
                                </div>
                <!--            </form> -->

                            <!-- Savan Code -->
                            <!-- new division.......-->
                                <h3>
                                    Patient Demographics
                                </h3>
                <!--            <form class="part2" id="part2" action="/part2" method="post">   -->
                                <div class="form-field-wrap input-group">
                                    <label class="">Provider ID/MRN :</label>
                                    <input class="input-group-append form-control" name="pr_id" value="{{dict1['form1']['pr_id']}}" type="text" />
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">First Name :</label>
                                    <input class="input-group-append form-control" name="p_fname" value="{{dict1['form1']['p_fname']}}" type="text" />
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Last Name :</label>
                                    <input class="input-group-append form-control" name="p_lname" value="{{dict1['form1']['p_lname']}}" type="text" />
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">DOB (mm/dd/yyyy) :</label>
                                    <input class="input-group-append form-control" name="p_dob" value="{{dict1['form1']['p_dob']}}" type="date" />
                                </div>

                                <!-- ? do not come in single line -->
                                <div class="form-field-wrap input-group">
                                    <label class="">Sex :</label>
                                    <div class="form-field-wrap">
                                        <div class="input-group mb-0 d-inline">
                                            <input class="mr-1" type="radio" id="select-sex-male" name="p_sex" value="{{dict1['form1']['p_sex']}}">
                                            <label class="mb-2" for="select-sex-male">Male</label>
                                        </div>
                                        <div class="input-group-append mb-0 d-inline">
                                            <input class="mr-1" type="radio" id="select-sex-female" name="sex" value="">
                                            <label class="mb-2" for="select-sex-female">Female</label>
                                        </div>
                                    </div>
                                </div>


                                <!-- small three radio button for home, mobile and work-->
                                <div class="form-field-wrap input-group">
                                    <label class="">Phone Number (Required) :</label>
                                    <div>
                                        <input class="form-control" type="text" name="p_phone" value="{{dict1['form1']['p_phone']}}" />

                                        <div class="d-block ">
                                            <input class="" type="radio" id="aa" name="aa" value="">
                                            <label class="mb-2" for="aa">Home</label>

                                            <input class="" type="radio" id="bb" name="bb" value="">
                                            <label class="mb-2" for="bb">Mobile</label>

                                            <input class="" type="radio" id="cc" name="cc" value="">
                                            <label class="mb-2" for="cc">Work</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-field-wrap input-group">
                                    <label class="">Language Prefrence (optional) :</label>
                                    <input class="input-group-append form-control" name="p_lang" value="{{dict1['form1']['p_lang']}}" type="text" />
                                </div>

                                <div class="form-field-wrap input-group">
                                    <label class="">Shipping Address :</label>
                                    <input class="input-group-append form-control" name="p_saddress" value="{{dict1['form1']['p_saddress']}}" type="text" />
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">City, State, Zip :</label>
                                    <input class="input-group-append form-control" name="p_scity" value="{{dict1['form1']['p_scity']}}" type="text" />
                                </div>

                                <!-- same as billing address-->
                                <div class="form-field-wrap input-group">
                                    <label class="">Billing Address :</label>
                                    <input class="input-group-append form-control" name="p_baddress" value="{{dict1['form1']['p_baddress']}}" type="text" />
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">City, State, Zip:</label>
                                    <input class="input-group-append form-control" name="p_bcity" value="{{dict1['form1']['p_bcity']}}" type="text" />
                                </div>
                                <div class="form-field-wrap mt-4">
                                    <h4 class="box-title">PATIENT ETHNICITY AND RACE (Optional)</h4>
                                </div>

                                <div class="form-field-wrap input-group">
                                    <label class="">Is your patient of Hispanic or Latino origin or descent? :</label>
                                    <div class="form-field-wrap">
                                        <div class="input-group mb-0 d-inline">
                                            <input class="mr-1" type="radio" id="select10-yes" name="hispanic" value="">
                                            <label class="mb-2" for="select10-yes">Yes</label>
                                        </div>
                                        <div class="input-group-append mb-0 d-inline">
                                            <input class="mr-1" type="radio" id="select10-no" name="hispanic" value="">
                                            <label class="mb-2" for="select10-no">No</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-field-wrap input-group">
                                    <label class="">Please mark one or more to indicate your patient’s race :</label>
                                    <div class="form-field-wrap">
                                        <div class="input-group mb-0 d-inline">
                                            <input class="mr-1" type="checkbox" id="select11-white" name="White" value="">
                                            <label class="mb-2" for="select11-white">White</label>
                                        </div>
                                        <div class="input-group-append mb-0 d-inline">
                                            <input class="mr-1" type="checkbox" id="select11-black" name="black" value="">
                                            <label class="mb-2" for="select11-black">Black or African-American</label>
                                        </div>

                                        <div class="input-group-append mb-0 d-inline">
                                            <input class="mr-1" type="checkbox" id="select11-asian" name="asian" value="">
                                            <label class="mb-2" for="select11-asian">Asian</label>
                                        </div>
                                        <br>
                                        <div class="input-group-append mb-0 d-inline">
                                            <input class="mr-1" type="checkbox" id="select11-nativehawaiian" name="select11-nativehawaiian" value="">
                                            <label class="mb-2" for="select11-nativehawaiian">Native Hawaiian or other Pacific Islander</label>
                                        </div>

                                        <div class="input-group-append mb-0 d-inline">
                                            <input class="mr-1" type="checkbox" id="select11-americanindian" name="americanindian" value="">
                                            <label class="mb-2" for="select11-americanindian">American Indian or Alaska Native</label>
                                        </div>
                                    </div>
                                </div>
               <!--             </form>   -->
                            <!-- completed one division -->

                            <!-- new division .............-->
                            <h3>
                                Patient Insurance/Billing Information
                            </h3>
                            <!-- small character comment is remaining-->
                            <form>
                              <!--            <form style="margin-bottom: 15px;" class="part3" id="part3" action="/part3" method="post">   -->

                                <p>Only completion of “Policyholder Name” and “Policyholder DOB” is necessary when attaching a copy of the front & back of primary and/or secondary insurance cards
                                </p>
                                <div class="form-field-wrap input-group">
                                    <label class="">Does patient wish Exact Sciences to bill their insurance? :</label>
                                    <div class="form-field-wrap">
                                        <div class="input-group mb-0 d-inline">
                                            <input class="mr-1" type="radio" id="select12-yes" name="hispanic" value="">
                                            <label class="mb-2" for="select12-yes">Yes (complete below)</label>
                                        </div>
                                        <div class="input-group-append mb-0 d-inline">
                                            <input class="mr-1" type="radio" id="select12-no" name="hispanic" value="">
                                            <label class="mb-2" for="select12-no">No (patient will self-pay)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Policyholder Name :</label>
                                    <input class="input-group-append form-control" name="poly_name" value="{{dict1['form1']['poly_name']}}" type="text" />
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Policyholder DOB :</label>
                                    <input class="input-group-append form-control" name="poly_dob" value="{{dict1['form1']['poly_dob']}}" type="date" />
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Relationship to patient :</label>
                                    <div class="form-field-wrap">
                                        <div class="input-group mb-0 d-inline">
                                            <input class="mr-1" type="radio" id="select13-self" name="relationship" value="">
                                            <label class="mb-2" for="select13-self">Self</label>
                                        </div>
                                        <div class="input-group-append mb-0 d-inline">
                                            <input class="mr-1" type="radio" id="select13-spouse" name="relationship" value="">
                                            <label class="mb-2" for="select13-spouse">Spouse</label>
                                        </div>
                                        <div class="input-group-append mb-0 d-inline">
                                            <input class="mr-1" type="radio" id="select13-other" name="relationship" value="">
                                            <label class="mb-2" for="select13-other">Other</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Primary Insurance Carrier :</label>
                                    <input class="input-group-append form-control" name="pi_carrier" value="{{dict1['form1']['pi_carrier']}}" type="text" />
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Type :</label>
                                    <div class="form-field-wrap">
                                        <div class="input-group mb-0 d-inline">
                                            <input class="mr-1" type="radio" id="select14-private" name="type" value="">
                                            <label class="mb-2" for="select13-private">Private</label>
                                        </div>
                                        <div class="input-group-append mb-0 d-inline">
                                            <input class="mr-1" type="radio" id="select14-medicare" name="type" value="">
                                            <label class="mb-2" for="select14-medicare">Medicare</label>
                                        </div>
                                        <div class="input-group-append mb-0 d-inline">
                                            <input class="mr-1" type="radio" id="select14-medicareadvantage" name="type" value="">
                                            <label class="mb-2" for="select14-medicareadvantage">Medicare Advantage</label>
                                        </div>
                                        <div class="input-group-append mb-0 d-inline">
                                            <input class="mr-1" type="radio" id="select14-medicaid" name="type" value="">
                                            <label class="mb-2" for="select14-medicaid">Medicaid</label>
                                        </div>
                                        <div class="input-group-append mb-0 d-inline">
                                            <input class="mr-1" type="radio" id="select14-tricare" name="type" value="">
                                            <label class="mb-2" for="select14-tricare">Tricare</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Claims Submission Address :</label>
                                    <input class="input-group-append form-control" name="cs_address" value="{{dict1['form1']['cs_address']}}" type="text" />
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Subscriber ID/Policy Number :</label>
                                    <input class="input-group-append form-control" name="poly_number" value="{{dict1['form1']['poly_number']}}" type="text" />
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Group Number :</label>
                                    <input class="input-group-append form-control" name="groupno" value="{{dict1['form1']['groupno']}}" type="text" />
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Plan :</label>
                                    <input class="input-group-append form-control" name="plan" value="{{dict1['form1']['plan']}}" type="text" />
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Prior-Authentication Code (if available) :</label>
                                    <input class="input-group-append form-control" name="pauth_code" value="{{dict1['form1']['pauth_code']}}" type="text" />
                                </div>

                                <div class="form-field-wrap mt-4">
                                    <h4 class="box-title">PATIENT AUTHORIZATIONS, ASSIGNMENT OF BENEFITS (AOB) & FINANCIAL RESPONSIBILITIES</h4>
                                    <p>I authorize Exact Sciences Laboratories (Exact) to bill my insurance/health plan and furnish them with my Cologuard order information, test results, or other information requested for reimbursement. I assign all rights
                                        and benefits under my insurance plans to Exact and authorize Exact to appeal and contest any reimbursement denial, including in any administrative or civil proceedings necessary to pursue reimbursement. I authorize
                                        all reimbursements to be paid directly to the laboratory in consideration for services performed. I understand that I am responsible for any amount not paid, including amounts for non-covered services or services
                                        determined by my plan to be provided by an out-of-network provider. I further understand that if I am a Medicaid enrollee in a state where Exact is enrolled as a Medicaid provider, Exact will accept as payment in
                                        full the amounts paid by the Medicaid program, plus any deductible, coinsurance or copayment which may be required by the Medicaid program to be paid by me.</p>
                                </div>
                                <!-- input signature image-->

                                <div class="form-field-wrap mt-3 text-md-left text-left">
                                    <p class="date1 mt-2">
                                        Date:<br>
                                        <input class="input-group-append form-control" name="finaldate" value="{{dict1['form1']['finaldate']}}" type="date" />
                                    </p>
                                </div>

                            </form>

                            <!-- Savan Code End -->
                        </div>
                <!--    </div> -->

                        <div class="input-group mb-0 d-inline" style="width: 750px; margin-left: 440px; padding-top: 6px;">
                            <input class="mr-1" type="checkbox" id="esign" name="esign" value="">
                            <label class="mb-2" for="esign">Please mark right only if patient signature is on original hard form.(Optional)</label>
                        </div>
                        <input type="submit" name="Next" value="NEXT" class="btn btn-dark" style="margin-left: 1150px; width: 200px; height: 50px; font-size: 25px;" onclick="submitForms()">
                </div>
            </div>
        </div>
    </div>

    <!--JavaScript -->
    <script src="static/js/jquery-3.5.1.slim.min.js" type="text/javascript"></script>
    <script src="static/js/popper.min.js" type="text/javascript"></script>
    <script src="static/js/bootstrap.js" type="text/javascript"></script>
    <script src="static/js/app.js" type="text/javascript"></script>
</body>
<script type="text/javascript">
    submitForms = function(){
        document.getElementById("part1").submit();
        document.getElementById("part2").submit();
        document.getElementById("part3").submit();
    }
</script>


</html>
