<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static\css\bootstrap.css">
    <link rel="stylesheet" href="static\css\style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="lib/blowup.js"></script>
    <script src="./static/js/imagemagnifier.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <title>Exact Science</title>
</head>
<body>
    <div class="main-wrap">
        <!-- Wrap -->
        <div class="wraper">
            <div class="container-fluid">
                <div class="row">

                    <!-- Left Side
                    <div class="Left-panel col-12 col-md-4 col-sm-12" id="left" style="margin-top: 15px">
                        <img src = "static/temp_storage/sampleform.pdf2.jpg" style="height: 530px; width: 415px; position: fixed; border: 1px solid black" id="img1" class="img1">
                    </div>
                    -->
                    <div class="Left-panel col-12 col-md-4 col-sm-12" id="left" >
                        <img src = "static/temp_storage/{{filename}}2.jpg" onerror=this.src="/static/images/alternate.jpg" style="height: auto; width: inherit; margin-top: 10px ; border: 1px solid black" id="img1" class="img1">
                    </div>


                    <!-- Right Side -->
<!--                    <div class="right-pannel col-12 col-md-8 col-sm-12"> -->
                        <!-- new divison ......................-->
                        <!--
                        <div class="right-panel-box col-12 col-md-8 col-sm-12" id="right" style="height: 500px; overflow: scroll;overflow-x: hidden;border: 1px solid black; padding-left: 15px; margin-left: 440px;">
                            <img src="static/images/logo.png" style="height: 67px; width: 150px; position: absolute;">
                            <img src="static/images/colo.jpeg" style="height: 67px; width: 150px; position: absolute; right: 15px; top: 5px;">
                        -->
                        <div class="right-panel-box col-12 col-md-8 col-sm-12" id="right" style="width: inherit ; height: 88vh; overflow: scroll;overflow-x: hidden; margin-top: 10px; border: 1px solid black; padding-left: 15px;">
                            <img src="static/images/logo.png" style="height: 67px; width: 150px; position: absolute;">
                            <img src="static/images/colo.jpeg" style="height: 67px; width: 150px; position: absolute; right: 15px; top: 5px;">



                            <center>
                                <h3>COLOGUARD PROCEDURE<br>INFORMATION </h3>
                            </center>
                            <form class="part2" id="part2" action="/part2" method="post">
                                <h3>
                                    Information from Cologuard Provider
                                </h3>
                                <div class="form-field-wrap input-group">
                                    <label class="">Cologuard Order Number :</label>
                                    <input class="input-group-append form-control" type="text" name="colo_number2" value="{{dict1['form2']['colo_number2']}}" />
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Date Received by ES Labs  :</label>
                                    <input class="input-group-append form-control" type="text" name="es_date2" value="{{dict1['form2']['es_date2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Health Organization Name :</label>
                                    <input class="input-group-append form-control" type="text" name="hco_name2" value="{{dict1['form2']['hco_name2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Provider Name :</label>
                                    <input class="input-group-append form-control" type="text" name="pr_name2" value="{{dict1['form2']['pr_name2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Provider NPI # :</label>
                                    <input class="input-group-append form-control" type="text" name="pr_npi2" value="{{dict1['form2']['pr_npi2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">ICD-10 Code :</label>
                                    <input class="input-group-append form-control" type="text" name="icd_code2" value="{{dict1['form2']['icd_code2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Patient Name :</label>
                                    <input class="input-group-append form-control" type="text" name="pt_name2" value="{{dict1['form2']['pt_name2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Patient Date of Birth :</label>
                                    <input class="input-group-append form-control" type="text" name="pt_dob2" value="{{dict1['form2']['pt_dob2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Patient Sex :</label>
                                    <input class="input-group-append form-control" type="text" name="pt_sex2" value="{{dict1['form2']['pt_sex2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Patient Phone Number :</label>
                                    <input class="input-group-append form-control" type="text" name="pt_phone2" value="{{dict1['form2']['pt_phone2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Patient Shipping Address :</label>
                                    <input class="input-group-append form-control" type="text" name="pt_saddress2" value="{{dict1['form2']['pt_saddress2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Secure Fax Number :</label>
                                    <input class="input-group-append form-control" type="text" name="pt_fax2" value="{{dict1['form2']['pt_fax2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Health Care Provider Signature :</label>
                                    <input class="input-group-append form-control" type="text" name="hcp_sign2" value="{{dict1['form2']['hcp_sign2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Insurance Type :</label>
                                    <input class="input-group-append form-control" type="text" name="insurance_type2" value="{{dict1['form2']['insurance_type2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Insurance Carrier Name :</label>
                                    <input class="input-group-append form-control" type="text" name="insurance_carrier2" value="{{dict1['form2']['insurance_carrier2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Subscriber ID :</label>
                                    <input class="input-group-append form-control" type="text" name="sub_id2" value="{{dict1['form2']['sub_id2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Group Number :</label>
                                    <input class="input-group-append form-control" type="text" name="group_number2" value="{{dict1['form2']['group_number2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Policy Owner/Holder Name :</label>
                                    <input class="input-group-append form-control" type="text" name="poly_name2" value="{{dict1['form2']['poly_name2']}}"/>
                                </div>
                                <div class="form-field-wrap input-group">
                                    <label class="">Policy Owner/Holder Date of Birth :</label>
                                    <input class="input-group-append form-control" type="text" name="poly_dob2" value="{{dict1['form2']['poly_dob2']}}"/>
                                </div>
                            </form>

                            <!-- Savan Code End -->
                        </div>
                <!--    </div> -->
                        <!--
                        <div class="input-group mb-0 d-inline" style="width: 750px; margin-left: 440px; padding-top: 6px;">
                                <input class="mr-1" form="part2" type="checkbox" id="isallextracted" name="isallextracted" value="Yes">
                                <label class="mb-2" for="isallextracted">Please mark right only if all data extracted are as same as hard copy for both form.</label>
                        </div>
                        <input type="submit" name="Submit" value="SUBMIT" class="btn btn-dark" style="margin-left: 1150px; width: 200px; height: 50px; font-size: 25px;" onclick="submitForms()">
                      -->

                      <div class="input-group mb-0 d-inline" style="width: auto; margin:auto; margin-top: -35px; margin-left: 33.3%;">
                              <input class="mr-1" form="part2" type="checkbox" id="isallextracted" name="isallextracted" value="Yes">
                              <label class="mb-2" for="isallextracted">Please mark right only if all data extracted are as same as hard copy for both form.</label>
                      </div>
                      <input type="submit" name="Submit" value="SUBMIT" class="btn btn-dark" style="margin-right: 15px; margin-top: -50px; width: 200px; height: auto; font-size: 25px;" onclick="submitForms()">

                </div>
            </div>
        </div>
    </div>

    <!--JavaScript -->
    <script src="static\js\jquery-3.5.1.slim.min.js" type="text/javascript"></script>
    <script src="static\js\popper.min.js" type="text/javascript"></script>
    <script src="static\js\bootstrap.js" type="text/javascript"></script>
    <script src="static\js\app.js" type="text/javascript"></script>
</body>
<script type="text/javascript">
    submitForms = function(){
        Swal.fire({position: 'center',
                 icon: 'success',
                 title: 'Your information has been saved',
                 showConfirmButton: false,
                 timer: 3000
                 })
        setTimeout(function(){ document.getElementById("part2").submit(); }, 2000);
    }
</script>

</html>
